.cl-message[data-author="assistant"] {
  background: rgba(255, 0, 0, 0.9);
  border-radius: 18px;
  padding: 14px 18px;
  margin: 12px 0;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.cl-message[data-author="user"] {
  background: #001548;
  color: rgb(20, 0, 133);
  border-radius: 18px;
  padding: 14px 18px;
  margin: 12px 0;
  align-self: flex-end;
  max-width: 75%;
}

